# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
devenv/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts
